spring:
  cloud:
    aws:
      s3:
        endpoint: http://localhost:4566
      credentials:
        access-key: test
        secret-key: test
      region:
        static: us-east-1
  application:
    name: localStackS3

